
      <%= render :partial => "admin/posts/partials/errors" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= render :partial => "admin/posts/partials/title" %>
        <%= render :partial => "admin/posts/partials/content" %>
        <%= render :partial => "admin/posts/partials/excerpt" %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="grid simple">
          <div class="grid-title no-border">
            <h4>Post <span class="semi-bold">Status</span></h4>
          </div>
          <div class="grid-body no-border">
            <div class="row">
              <%= render :partial => "admin/posts/partials/post_date" %>
            </div>
            <div class="row">
                <%= render :partial => "admin/posts/partials/status" %>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="actions">
                  <button class="btn btn-block btn-success btn-cons <% if @post.id != nil %>update<% else %>publish<% end %>">
                    <% if @post.id != nil %>
                      Update
                    <% else %>
                      Publish
                    <% end %>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render :partial => "admin/posts/partials/categories" %>
        <%= render :partial => "admin/posts/partials/attachment" %>
      </div>
    </div>
  </div>



