<div class="page-sidebar" id="main-menu">
        <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
          <!-- BEGIN MINI-PROFILE -->
          <div class="user-info-wrapper">
            <div class="profile-wrapper">
              <img src="<%= image_path "profiles/avatar.jpg" %>" alt="" data-src="<%= image_path "profiles/avatar.jpg" %>" data-src-retina="<%= image_path "profiles/avatar2x.jpg" %>" width="69" height="69" />
            </div>
            <div class="user-info">
              <div class="greeting">Welcome</div>
              <div class="username">John <span class="semi-bold">Smith</span></div>
              <div class="status">Status
                <a href="#">
                  <div class="status-icon green"></div>Online</a>
              </div>
            </div>
          </div>
          <!-- END MINI-PROFILE -->
          <!-- BEGIN SIDEBAR MENU -->
          <p class="menu-title">BROWSE<span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
          <ul>
            <!-- BEGIN SELECTED LINK -->
            <li class="start active">
              <a href="<%= admin_path %>">
                <i class="fa fa-tachometer"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
                <span class="badge badge-important pull-right">5</span>
              </a>
            </li>
            <li class="">
              <a href="<%= admin_updates_path %>">
                <i class="fa fa-refresh"></i>
                <span class="title">Updates</span>
                <span class="badge badge-important pull-right">5</span>
              </a>
            </li>
            <!-- END SELECTED LINK -->
            <!-- BEGIN BADGE LINK -->
            <li class="">
              <a href="<%= admin_post_path %>">
                <i class="fa fa-thumb-tack"></i>
                <span class="title">Posts</span>
                <span class="badge badge-disable pull-right">203</span>
              </a>
            </li>
            <!-- END BADGE LINK -->
            <!-- BEGIN SINGLE LINK -->
            <li class="">
              <a href="<%= admin_page_path %>">
                <i class="fa fa-file"></i>
                <span class="title">Pages</span>
              </a>
            </li>
            <!-- END SINGLE LINK -->
            <!-- BEGIN ONE LEVEL MENU -->
            <li class="">
              <a href="<%= admin_attachment_path %>">
                <i class="fa fa-film"></i>
                <span class="title">Media</span>
                <span class="arrow"></span>
              </a>
              <ul class="sub-menu">
                <li><a href="#">Sub Link 1</a></li>
              </ul>
            </li>
            <li class="">
              <a href="<%= admin_users_path %>">
                <i class="fa fa-group"></i>
                <span class="title">Users</span>
              </a>
            </li>
            <li class="">
              <a href="<%= admin_users_path %>">
                <i class="fa fa-list"></i>
                <span class="title">Menus</span>
              </a>
            </li>
            <!-- END ONE LEVEL MENU -->
            <!-- BEGIN TWO LEVEL MENU -->
            <li class="">
              <a href="javascript:;">
                <i class="fa fa-gears"></i>
                <span class="title">Settings</span>
                <span class="arrow"></span>
              </a>
              <ul class="sub-menu">
                <li><a href="javascript:;">Sub Link 1</a></li>
                <li>
                  <a href="javascript:;"><span class="title">Sub Link 2</span><span class="arrow "></span></a>
                  <ul class="sub-menu">
                    <li><a href="javascript:;">Sub Link 1</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- END TWO LEVEL MENU -->
          </ul>
          <!-- END SIDEBAR MENU -->
          <!-- BEGIN SIDEBAR WIDGETS -->
          <div class="side-bar-widgets">

          </div>
          <div class="clearfix"></div>
          <!-- END SIDEBAR WIDGETS -->
        </div>
      </div>