 <tr class="gradeX odd">
  <td class="center ">
    <i class="fa fa-edit" data-id="<%= id %>"></i>
  </td>
   <td class="" id="post_title">
      <%= title %>
    </td>
  <td class=" ">
    1
  </td>
  <td class=" ">
    <!-- updated @ -->
    <%= updated_at %>
    </td>
  <td class="center ">
    <!-- published @ -->
    <%= created_at %>
    </td>
  <td class="center ">
    <!-- Status -->
    <%= status %>
    </td>
</tr>