<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
  </head>

  <body>
    <div id="root" class="wrapper">
    <header>
      <div class="row">
        <% if notice %>
        <p class="notice"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
      <div class="alignleft">
        <div class="logo"><h1>Project Logo</h1></div>
      </div>
      <div class="alignright">
        <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
      </div>
    </header>
    <div id="pagewrapper">
    <%= yield %>
  </div>
    <div id="root_footer"></div>
  </div>
  <div id="footer" class="wrapper">
    Footer content goes here.
    <div class="something">Test Backbone Event</div>
  </div>
  </body>
</html>
